</main>
<footer>

  
    <p class="copyright" id="copyright">Copyright 2024</p>

  
</footer>


<script>
    // Get the current year
    const currentYear = new Date().getFullYear();
  
    // Set the copyright text dynamically
    document.getElementById('copyright').textContent = `Copyright ${currentYear}`;
  </script>

</html>